<div>
  <h2>My Heroes</h2>
  <ul id='heroes-list' class="heroes">
    <li *ngFor="let hero of heroes">
      <a routerLink='/detail/{{hero.id}}'>
        <span class="badge">{{hero.id}}</span> {{hero.name}}
      </a>
      <button id='hero-delete' class="delete" title="delete hero" (click)="delete(hero)">X</button>
    </li>
  </ul>
  <div>
    <label>Hero name:
      <input #heroName id='hero-input'/>
    </label>
    <button id='hero-add' (click)="add(heroName.value); heroName.value=''">Add hero</button>
  </div>
</div>